<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gong.concert.concert.mapper.ConcertMapper">

    <insert id="insertConcert">
        INSERT INTO concert (
        concert_id,
        theater_id,
        name,
        photo,
        low_price,
        status,
        number,
        type,
        player,
        create_time,
        begin_time,
        create_user,
        is_selected
        <if test="updateTime != null">, update_time</if>
        <if test="updateUser != null">, update_user</if>
        <if test="describe != null and describe != ''">, `describe`</if>
        <if test="location != null and location != ''">, location</if>
        ) VALUES (
        #{concertId},
        #{theaterId},
        #{name},
        #{photo},
        #{lowPrice},
        #{status},
        #{number},
        #{type},
        #{player},
        #{createTime},
        #{beginTime},
        #{createUser},
        #{isSelected}
        <if test="updateTime != null">, #{updateTime}</if>
        <if test="updateUser != null">, #{updateUser}</if>
        <if test="describe != null and describe != ''">, #{describe}</if>
        <if test="location != null and location != ''">, #{location}</if>
        )
    </insert>

    <select id="pageQuery" resultType="com.gong.concert.concert.entity.Concert">
        select * from concert
        <where>
            <if test="concertId!=null and concertId!=''">and concert_id = #{concertId}</if>
            <if test="theaterId!=null and theaterId!=''">and theater_id = #{theaterId}</if>
            <if test="name!=null and name!=''">and name like concat('%',#{name},'%')</if>
            <if test="lowFee!=null and lowFee!=''">and low_price &gt;= #{lowFee}</if>
            <if test="highFee!=null and highFee!=''">and low_price &lt;= #{highFee}</if>
            <if test="status!=null">and status = #{status}</if>
            <if test="location!=null and location!=''">and location like concat('%',#{location},'%')</if>
            <if test="describe!=null and describe!=''">and `describe` like concat('%',#{describe},'%')</if>
            <if test="type!=null">and type = #{type}</if>
            <if test="player!=null and player!=''">and `player` like concat('%',#{player},'%')</if>
            <if test="isSelected!=null">and is_selected = #{isSelected}</if>

            <!-- 演出时间约束 -->
            <if test="beginTime!=null">and begin_time &gt;= #{beginTime}</if>
            <if test="endTime!=null">and begin_time &lt;= #{endTime}</if>
        </where>
    </select>

    <update id="update">
        update concert
        <set>
            <if test="name!=null and name != ''">name = #{name} ,</if>
            <if test="photo!=null and  photo!= ''">photo = #{photo} ,</if>
            <if test="lowPrice!=null">low_price = #{lowPrice} ,</if>
            <if test="describe!=null and describe != ''">describe = #{describe} ,</if>
            <if test="type!=null">type = #{type} ,</if>
            <if test="player!=null and player!= ''">player = #{player} ,</if>
            <if test="isSelected!=null">is_selected = #{isSelected}</if>
            <if test="beginTime!=null and beginTime != ''">begin_time = #{beginTime} ,</if>
        </set>
    </update>
</mapper>